h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.menu-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navbar{
    display: flex;
    justify-content: center;
}
.main-container{
    margin: 50px;
    min-width : 40%;
    display: flex;
    flex: 3;
}
.food-image{
flex :1;
}
.food-description{
    flex: 2;
}
.item-head{
    display: flex;
    justify-content: space-between;
}


